.infobox > .monstat {
    display: inline-block;
    position: absolute;
    /* right: 5px; */
    text-shadow: none;
    color: #ABBAC3;
    font-size: 13px;
    font-weight: bold;
    padding-right: 14px;
    /* padding-top: 3px; */
}
.infobox > .monstat:before {
    display: inline-block;
    content: "";
    width: 4px;
    height: 11px;
    background-color: #ABBAC3;
    position: absolute;
    right: 4px;
    top: 7px;
}
.infobox > .monstat:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
    border: 12px solid transparent;
    border-width: 6px 5px;
    border-bottom-color: #ABBAC3;
}
.infobox > .monstat.monstat-important {
    /*pointing down*/
    color: #E4564F;
}
.infobox > .monstat.monstat-important:before {
    background-color: #E4564F;
    top: 3px;
}
.infobox > .monstat.monstat-important:after {
    border-top-color: #E4564F;
    border-bottom-color: transparent;
    bottom: -2px;
    top: auto;
}