#storage-cluster-usage-chart {
    width: 250px;
    height: 170px;
    position: relative;
}
.inner-arc path {
    stroke: #ffffff;
    stroke-width: 0px;
}

.outer-arc path {
    stroke: #ffffff;
    stroke-width: 1px;
}

.cluster-replica{
    font-size: 12px;
}

.cluster-status {
    margin-left: 5px;
    width: 100%;
    height: 100%;
    background: transparent;
    color: #000000;
    font-family: 'Open Sans';
    /*border: 1px solid #3182BD;*/
    text-align: center;
}

.cluster-status-label{

}
.status-message{
    color: black;
    font-weight: bold;
    line-height: 1.5em;
}
.icon-status{
    margin-left: 20px;
    color: grey;
    font-size: 1.5em;
}

.success-color{
    color: #2CA02C;
}
.down-color{
    color: #B94A48;
}
.idle-color{
    color: #898989;
}
.info-color{
    color: #3182BD;
}
.warning-color{
    color: #f89406;
}

.cluster-health-events .events-title {
    text-align: left;
}

.cluster-health-details .details-title {
    text-align: left;
}
.usage-details-container{
    position: relative;
    margin-top: -110px;
    margin-left: 0px;
    font-weight: bold;
    font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
}

.cluster-usage-perc {
    top:80px;
    left: 10px;
    text-align: center;
    line-height: 15px;
    z-index: 1;
}
.cluster-usage-perc-label{
    stroke: #636363;
    font-size: 1.2em;
    font-family: Open Sans;
    color: #636363;
}
.usage-perc-crit-label{
    stroke: #636363;
    font-size: 1.2em;
    font-family: Open Sans;
    color: #D62728;
}
.usage-perc-warn-label{
    stroke: #636363;
    font-size: 1.2em;
    font-family: Open Sans;
    color: #FF7F0E;
}
.cluster-used-label{
    color: #1F77B4;
}
.cluster-total-label{
    margin-left: 2px;
    line-height: 9px;
    font-family: Open Sans;
    font-weight: 400;
    background-color: #C6DBEF;
}
.cluster-avail-label{
    color: #C6DBEF;
}
.cluster-used, .cluster-total, .cluster-avail{
    margin-left: 2px;
    font-size: 10px;
}


/*
* Following CSSs may be removed
*/

.ceph-widget-header{
    text-align: left;
    background: none;
    border: none;
    border-bottom: 1px solid #DCE8F1;
    color: #3182bd;
    padding-left: 3px;
    height: 33px;
    position: relative;
}

#dashHealthBox {
    padding-bottom: 10px;
}
.monitor-status {
    padding-top: 15px;
}



.node use {
    fill: #fff;
    opacity: 1;
    cursor: pointer;
}
.node-root {
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node-host {
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 10px Open Sans;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    opacity: 0.7;
}
.pools-bar-chart .ui-tabs-nav {
    height: 0px;
    padding: 0px 0px 0px 10px !important;
    font-size: 13px;
    border-bottom: 0px !important;
    background-color: #ffffff !important;
}
.pools-bar-chart .ui-tabs-panel{
    padding: 12px 0px !important;
}
.pools-bar-chart svg {
    height: 70px;
    padding-bottom: 10px;
    margin-top: -10px;
}
.disks-bar-chart svg{
    height: 70px;
    padding-bottom: 10px;
}
.disks-bar-chart .nv-legend-text {
    font-size: 13px !important;
}
.disks-bar-chart .ui-tabs-nav {
    height: 0px;
    padding: 0px 0px 0px 10px !important;
    font-size: 13px;
    border-bottom: 0px !important;
    background-color: #ffffff !important;
}
.disks-bar-chart .ui-tabs-panel{
    padding: 12px 0px !important;
}
.cluster-activity-chart .ui-tabs-nav {
    height: 0px;
    padding: 0px 0px 0px 10px !important;
    font-size: 13px;
    border-bottom: 0px !important;
    background-color: #ffffff !important;
}
.cluster-activity-chart .ui-tabs-panel{
    padding: 16px 0px !important;
}
.cluster-activity-chart svg{
    height: 101px;
    width: 100%;
    margin-top: 10px;
}
.infra-stor-chart .key {
    font-weight: normal;
    color: #3182bd
}
.infra-stor-chart g.nv-lineChart g.nv-group{
    fill-opacity: .3 !important;
}
.infra-stor-chart g.nv-multibarHorizontal g.nv-group{
    fill-opacity: .6 !important;
    stroke-width: 2;
}
.infra-stor-chart g.nv-scatterChart g.nv-group,
.infra-stor-chart g.nv-scatterChart g.nv-group .nv-point.hover,
.infra-stor-chart g.nv-scatterChart g.nv-single-point g.nv-group .nv-point,
.infra-stor-chart g.nv-scatterChart g.nv-single-point g.nv-group .nv-point.hover {
    fill-opacity: .5 !important;
}


/* old dash usage labelbox
#usage-labelbox {
    position: absolute;
    top:90px;
    left: 80px;
    width: 136px;
    text-align: center;
    z-index: 1;
}
.usage-perc-label{
    stroke: #636363;
    font-size: 2.5em;
    font-family: Open Sans;
    color: #636363;
}
.usage-perc-crit-label{
    stroke: #636363;
    font-size: 2.5em;
    font-family: Open Sans;
    color: #D62728;
}
.usage-perc-warn-label{
    stroke: #636363;
    font-size: 2.5em;
    font-family: Open Sans;
    color: #FF7F0E;
}

.df-used-label{
    font-size: 0.8em;
    font-family: Open Sans;
    font-weight: 400;
    color: #3182BD;
}
.df-total-label{
    font-size: 0.8em;
    font-family: Open Sans;
    font-weight: 400;
    color: #3182BD;
}*/

#usage-donut {
    width: 300px;
    height: 250px;
    margin-top: -30px;
    margin-bottom: 20px;
}

.icon-avail{
    margin-left: 5px;
    color: #C6DBEF;
}
.clear{
    clear: both;
}

#df-avail{
    margin-left: 2px;
}
.icon-used{
    margin-left: 60px;
    color: #1F77B4;
}


.grid-monitor{
    font-weight: normal;
}
/*
.slick-row .grid-status-label{
    text-align: center;
}*/

#osds-bubble{
    height: 290px;
    margin: 0px 20px 0px 0px;
}
#gridOSDs-list{
    border: none;
    font-weight: normal;
}

.osd-details{
    font-weight: normal;
    visibility: visible;
}
.osd-details-default{
    font-weight: normal;
    visibility: hidden;
}

.osds-list{
    height: auto;
    margin-left: 0px;
}

.osds-list{
    white-space: normal;
}

#svg-osd-tree-osd{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
#svg-osd-tree-host{
    visibility: hidden;
    width: 0px;
    height: 0px;
}
.tree-host-tip .chart-tooltip{
    width: 150px !important;
}
.tree-host-tip span{
    margin: 0px !important;
}
.tree-disk-tip .chart-tooltip{
    width: 350px !important;
}
.tree-disk-tip span{
    margin: 0px !important;
}

.activity-chart .key {
    font-weight: normal;
    color: #3182bd
}
.activity-chart {
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.activity-chart .ui-tabs-nav {
    height: 0px;
    padding: 0px 0px 0px 10px !important;
    font-size: 13px;
    border-bottom: 0px !important;
    background-color: #ffffff !important;
}
.activity-chart .ui-tabs-panel {
    padding-bottom: 2px;
}
/*
.activity-chart .chart-content {
    padding: 0 10px;
}*/
.activity-chart svg {
    height: 110px;
    width: 100%;
    display: inline;
    margin-top: -10px;
}
#storage-dashboard-sparkline .infobox {
    display:block;
}
#storage-dashboard-sparkline {
    width:155px;
    float:left;
}
#storage-dashboard-chart {
    margin-left: 160px;
}
#storage-dashboard-chart .zoom-scatter-chart-container.colmask {
    clear:none;
}
.infobox > .infobox-data > .infobox-mon-number {
  font-size: 22px;
  margin: 2px 0 6px;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}
.infobox > .infobox-data > .infobox-stg-number {
  font-size: 22px;
  margin: 2px 0 4px;
  //position: relative;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15);
}


.infobox > .monstat {
    display: inline-block;
    position: absolute;
    /* right: 5px; */
    text-shadow: none;
    color: #ABBAC3;
    font-size: 13px;
    font-weight: bold;
    padding-right: 14px;
    /* padding-top: 3px; */
}
.infobox > .monstat:before {
    display: inline-block;
    content: "";
    width: 4px;
    height: 11px;
    background-color: #ABBAC3;
    position: absolute;
    right: 4px;
    top: 7px;
}
.infobox > .monstat:after {
    display: inline-block;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
    border: 12px solid transparent;
    border-width: 6px 5px;
    border-bottom-color: #ABBAC3;
}
.infobox > .monstat.monstat-important {
    /*pointing down*/
    color: #E4564F;
}
.infobox > .monstat.monstat-important:before {
    background-color: #E4564F;
    top: 3px;
}
.infobox > .monstat.monstat-important:after {
    border-top-color: #E4564F;
    border-bottom-color: transparent;
    bottom: -2px;
    top: auto;
}

/*
#usage-gauge-container {
    background: transparent url("/img/kendo/gauge-container.png") no-repeat 50% 50%;
    width: 300px;
    height: 200px;
    text-align: center;
    margin: 0 0 30px 50px;
}

#usage-gauge {
    width: 330px;
    height: 330px;
    margin: 0 auto 0;
}

#health-status{
    width: 200px;
    height: 20px;
    background: transparent;
    border: 1px solid #3182BD;
    text-align: center;
}
#activity-status{
    width: 200px;
    height: 20px;
    background: transparent;
    border: 1px solid #3182BD;
    text-align: center;
}
*/
